APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbykLr-H2l-N9yN6vyWV4xx2i_9FVLjPHyEi6fa1stl6rgOpVdWtteiP20XQWca6OK_Deg/exec
ADMIN_SECRET=4dcf6e9ce6f5e94d8a5ca31af674ec29d665bfb6dd1a86ae6342b1411393b6f5
